<%- include("partials/header") %>
<div class="container">
    <h1>Appointments</h1>
    <table class="table">
        <thead>
            <td>Sno</td>
            <th>Name</th>
            <th>Age</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Email</th>
            <th>Disease</th>
            <th></th>
        </thead>
        <tbody>
          <%  docs.forEach(function(itm){ %>
            <tr>
                <td><%=x%></td>
                <td><%=itm.name%></td>
                <td><%=itm.age%></td>
                <td><%=itm.contact%></td>
                <td><%=itm.address%></td>
                <td><%=itm.email%></td>
                <td><%=itm.disease%></td>
                <td><a href="/prescription/<%=itm._id%>" class="btn btn-lg btn-dark">Give Prescription</a></td>


            </tr>
            <%x++;%>
          <%  }) %>
            
        </tbody>
    </table>
</div>